
{%load static%}
<!-- Product Content ends here -->
</div> <!-- End of .small-container -->
</div> <!-- End of .row -->
</div> <!-- End of .container -->

<div class="footer">

    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our app</h3>
                <p>Download app for android and ios mobile Phone</p>
                <div class="app-logo">
                    <img src="{%static "images/play-store.png"%}">
                    <img src="{%static "images/app-store.png"%}">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{%static "images/logo-white.png"%}">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est commodi totam quia itaque!</p>
            </div>
            <div class="footer-col-3">
                <h3>usefull Links</h3>
                <ul>
                    <li>coupons</li>
                    <li>coupons</li>
                    <li>coupons</li>
                    <li>coupons</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us </h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twiter</li>
                    <li>instgram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">copyright 2025</p>
    </div>
  </div>



    
</body>
</html>