* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin-right: 30px;
    position: relative; /* Add this */
  }
  a {
    text-decoration: none;
    color: #555;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* show exactly under button */
    right: 0;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown when parent has class open */
  .dropdown.open .dropdown-content {
    display: block;
  }
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 40px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
    

  
}
.col-2 img{
    max-width: 100%;
    padding: 50px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}

.col-2 p {
    margin-bottom: 20px; /* spacing between paragraph and button */
}

.btn{
    display:inline-block;
    background: #ff525b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    /* apna */ margin-top: 40px;
}
.header{
    background: radial-gradient(#fff ,#ffd6d6)
}
.header .row{
    margin-top:115px;
    align-items: center; /* Add this for vertical center */
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}

.offer{
    background: radial-gradient(#fff ,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}


/* ----------testimonial-------- */

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 :hover{
    transform: translateY(-10px);

}
.col-3 p{
    font-size: 12px;
    margin: 20px 0;
    color: #777;
}


/* -----------footer------------ */

.footer{
    background: #000;
    color: #8a8a8a;
    font-weight: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1
.footer-col-2 ,
.footer-col-3 , 
.footer-col-4 {
    min-width: 250px;
    margin-top: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4{
    text-align: center;
    flex-basis: 12%;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 180px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}


/* Style for the search bar */
.search-bar {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-bar button {
    padding: 10px;
    background-color: #ff6f61;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for the search results */
.product-results .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-results .col-4 {
    width: calc(25% - 20px);
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-align: center;
}

.product-results .col-4 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-results .col-4 h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-results .col-4 p {
    font-size: 16px;
    margin-top: 5px;
    color: #ff6f61;
}
